<section class="contact vh-100 mt-5 pt-5 text-center " id="navbar">
<div class="container mt-3 pt-5">
  <h3 class="contact-text fw-bolder">CONATCT SECTION</h3>
  <div class="icon text-center d-flex align-items-center justify-content-center mb-3">
    <div class="line me-3">
    </div>
    <i class="fa-solid fa-star"></i>
    <div class="line ms-3">
    </div>
  </div>
  <div class="row w-50 m-auto ">
    <form class="text-start pb-5">
      <div class="col-md-12 mb-3 position-relative">
        <input type="text" placeholder="UserName" class="form-control border-0 border-bottom py-3 ">
        <label for="text" class=" position-absolute ">UserName : </label>
      </div>
      <div class="col-md-12 mb-3 position-relative">
        <input type="text" placeholder="UserAge" class="form-control border-0 border-bottom py-3 ">
        <label for="text" class=" position-absolute ">UserAge : </label>
      </div>
      <div class="col-md-12 mb-3 position-relative">
        <input type="text" placeholder="UserEmail" class="form-control border-0 border-bottom py-3 ">
        <label for="text" class=" position-absolute ">UserEmail : </label>
      </div>
      <div class="col-md-12 mb-3 position-relative">
        <input type="password" placeholder="UserPassword" class="form-control border-0 border-bottom py-3 ">
        <label for="password" class=" position-absolute ">UserPassword : </label>
      </div>
      <button class="btn btn-primary">Send Message</button>
    </form>
   
  </div>
  
</div>
</section>