<section class="home vh-100 mt-5 pt-5 ">
  <div class="container mt-2">
    <div class="info text-white d-flex flex-column justify-content-center align-items-center ">
      <div class="img w-25">
      <img src="/assets/img/avataaars.svg" class="w-100">
    </div>
      <h2 class="home-text fw-bolder mt-4 mb-3">START FRAMEWORK</h2>

      <div class="icon d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3">
        </div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3">
        </div>
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>

    </div>
  </div>


</section>